* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../Assets/fonts/open-sans-v35-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../../Assets/fonts/open-sans-v35-latin-700.woff2') format('woff2');
}

.header__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.head {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 2px grey;
}

.header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.header__list {
    display: flex;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

.header__link {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease;
    padding-bottom: 18px;
}

.header__link:hover {
    border-bottom: 2px solid #00BAFC;
    color: #00BAFC;
}

.header__link:active {
    transition: none;
    opacity: 0.7;
}

.header__item {
    margin-left: 30px;
}

.header__link-number {
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: 400;
    padding: 8px 16px;
    background: #00BAFC;
    transition: all 0.5s ease;
    border-radius: 5px;
    color: white;
    border: 1px solid #00BAFC;
}

.header__link-number:hover {
    background: white;
    color: #00BAFC;
    border: 1px solid #00BAFC;
}

.header__link-number:active {
    background: #00BAFC;
    color: white;
    border: 1px solid #00BAFC;
    transition: none;
    opacity: 0.7;
}